<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="css/global.css" rel="stylesheet" />
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <script>
        window.onresize = function () {
            document.querySelector("html").setAttribute("style", "font-size:" + document.body.clientWidth / 7.5 + "px");
        };
        document.querySelector("html").setAttribute("style", "font-size:" + document.body.clientWidth / 7.5 + "px");
    </script>
    <div id="app">
        <%- root.Content %>
    </div>
    <script type="text/javascript" src="js/vendor1.js"></script>
    <script type="text/javascript" src="js/components.js"></script>
    <script type="text/javascript" src="js/<%= root.jsName %>.js"></script>
</body>

</html>